Source: python-suds-jurko
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
Build-Depends: debhelper (>= 8.0.0), python-all (>= 2.6.6-3~), python-setuptools
Standards-Version: 3.9.2
Homepage: https://bitbucket.org/jurko/suds

Package: python-suds-jurko
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Conflicts: python-suds
Replaces: python-suds
Description: Lightweight SOAP client (Jurko's fork)
 Based on the original 'suds' project by Jeff Ortel (jortel at redhat
 dot com) hosted at 'https://fedorahosted.org/suds'.
 .
 'Suds' is a lightweight SOAP-based web service client for Python licensed
 under LGPL (see the LICENSE.txt file included in the distribution).
 .
 This is hopefully just a temporary fork of the original suds Python library
 project created because the original project development seems to have stalled.
 Should be reintegrated back into the original project if it ever gets revived
 again.
